*{ margin: 0;
  padding: 0;
  box-sizing: border-box;


}
html{
  scroll-behavior: smooth;
}
nav ul{
  justify-content: center;
  display: flex;
  list-style: none;
  background-color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 40px;
}
nav ul li{
  margin: 8px 20px;

  
}
nav ul li:hover{
  font-size: 110%;
  text-shadow: 2px 2px 4px black;

}
nav ul li a{
  color: aliceblue;
  text-decoration: none;
}
.titulo h1{
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titulo p{
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#artista h2{
  margin-top: 10px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5050f5;
}