*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background-image: url(fondo.jpeg);
  background-size: cover;
}
header{
  background-color: #333;
  font-family: cursive;
  color: white;
  padding: 10px 0;
  margin-top: 30px;

}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;

}
header nav ul li{
  margin: 0 20px;

}
header nav ul li a{
  color: white;
  text-decoration: none;

}

header nav ul li a:hover{
  border: 3px solid gray;
  border-radius: 10px;
  text-decoration: underline;
  font-size: 18px;
  text-shadow: 2px 2px 4px black;
}
main{
  display: flex;
  margin: 20px;
  padding: 20px;
  justify-content: center;
}

main section img{
  border-radius: 15px;
  box-shadow: 2px 2px 4px black;
  width: 20vw;
  height: 20vw;
  margin-left: 4vw;
  
}
main section img:hover{
  width: 22vw;
  height: 22vw;
  box-shadow: 4px 4px 4px blue;
}
.textos{
  background-color: rgba(240, 248, 255, 0.233);
  
}
.textos img{
  margin-bottom: -350px;

}
.textos h2{
  font-size: 40px;
  text-align: center;
  color: gray;
  text-shadow: 2px 2px 4px black;
}
.textos p{
  color: rgb(0, 0, 0);
  font-size: 25px;
  text-shadow: 1px 1px 2px black;
  margin: 10px 15vw;
}

.ubicacion h2{
  font-size: 40px;
  text-align: center;
  color: gray;
  text-shadow: 2px 2px 4px black;
  margin-top: 50px;
}
.ubicacion h3{
  font-size: 40px;
  text-align: center;
  color: gray;
  text-shadow: 2px 2px 4px black;
  margin-top: 50px;
}
.ubicacion div{
  margin: 40px 38vw;

}
.ubicacion span iframe{
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
  width: 30vw;
  height: 30vw;
  
}
.ubicacion span iframe:hover{
  width: 33vw;
  height: 33vw;
  
}
.videos h2{
  font-size: 40px;
  text-align: center;
  color: gray;
  text-shadow: 2px 2px 4px black;
  margin-top: 50px;
}
.videos span a{
  color: darkslateblue;
  display: flex;
  margin: auto;
  font-size: 25px;
  text-shadow: 1px 1px 2px black;
  margin: 10px;
  justify-content: center;

}
.boletas{
  background-color: rgba(240, 248, 255, 0.233);
  margin-bottom: 40px;   
}
.boletas h2{
  font-size: 40px;
  text-align: center;
  color: gray;
  text-shadow: 2px 2px 4px black;
  margin-top: 50px;
}
.boletas table{
  
  text-shadow: 2px 2px 4px black;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  
}
.boletas table td{
  border: 3px solid;
  border: outset gray;
  border-radius: 10px;
  
}
.audio{
  margin: 10px 38vw;
}
footer{
  background-color: rgba(0, 0, 0, 0.658);
  font-family: cursive;
  color: white;
  padding: 10px 0;
}

footer div{
  display: flex;
  justify-content: center;
  color: white;
}
footer div:hover{
  color: white;
  font-size: 35px;
  text-shadow: 4px 4px 6px  rgba(38, 0, 255, 0.747);
}
footer h2{
  text-align: center;
  font-family: cursive;
  color: white;
  font-size: 40px ;
}
footer section{
  text-align: center;
}
footer img{
  width: 100px;
  margin: 40px;
  
}
footer img:hover{
  border: 8px rgba(41, 48, 110, 0.459) solid;
  border-radius: 57px;
  width: 120px;

}




